/////////////////////////////
// Typography
/////////////////////////////

.validation-advice {
    color: $alert-color;
    font-style: italic;
    margin-top: -$form-spacing;
}

p.required {
  font-size: 0.8rem;
  color: $alert-color;
}

label.required em {
  color: $alert-color;
  margin-right: 0.2rem;
}

.a-center {
    text-align: center;
}

.a-right,
.align-right {
    text-align: right;
}

.no-display {
    display: none !important;
}

.nobr,
.nowrap {
    white-space: nowrap;
}

.width-full {
    width: 100%;
}

h2.legend {
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid $gainsboro;
}
