/////////////////////////
// Notice
/////////////////////////

.global-site-notice {
    background: $warning-color;
    color: $white;
    text-align: center;
    padding: 0.5rem;

    p {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}

.validation-advice {
    @extend small.error;
    margin-top: -1rem;
}
