/////////////////////////
// Poll
/////////////////////////

#poll-answers {
    margin: 0;

    li {
        list-style: none;
    }

    .votes {
        background: $gainsboro;
        border-radius: $global-radius;
        font-size: 0.8rem;
        padding: 0.25rem 0.5em;
    }
}
