/////////////////////////////
// Product View
/////////////////////////////

.product-essential {
    margin-bottom: 2rem;
}

// Product shop detail styles
.product-shop {

    .product-name .h1 {
        @extend h1;
        display: block;
    }

    .short-description .std {
        margin-bottom: $paragraph-margin-bottom;
    }
}

// Image and gallery styles
.product-image {
    margin-bottom: 2rem;
}

.product-image-gallery {
    position: relative;

    .gallery-image {
        display: none;

        &.visible {
            display: block;

            &.hidden {
                visibility: hidden;
            }
        }
    }
}

.more-views h2 {
    font-size: rem-calc(20);
    border-bottom: 1px solid $gainsboro;
}

ul.product-image-thumbs {

    li {
        display: inline-block;
    }

    a {
        display: block;
        border: 1px solid $gainsboro;

        &:hover {
            border-color: $primary-color;
        }
    }
}

// Add to cart
.qty-wrapper {

    label,
    input.input-text {
        display: inline-block;
    }

    input.input-text {
        width: 4rem;
    }
}

// Add to links
ul.add-to-links li,
ul.sharing-links li {
    display: inline-block;
}
