/////////////////////////////
// Forms
/////////////////////////////

.control {

    .input-box,
    label {
        display: inline-block;
    }
}

// input.input-text {
//     width: 45%;
// }

.buttons-set {
    @include clearfix;

    p.back-link {
        float: left;
        line-height: 3rem;
    }

    button.button {
        float: right;
    }
}
