///////////////////////////
// Header Account
///////////////////////////

@media #{$medium-up} {

    a.skip-account {
        display: block;
        position: absolute;
        top: 0;
        right: 115px;
        line-height: rem-calc(30);
        text-transform: uppercase;
        padding: rem-calc(5);
    }

    #header-account {
        display: none;
        position: absolute;
        top: 40px;
        right: 115px;
        background: #eee;
        width: rem-calc(200);
        z-index: 101;

        &.skip-active {
            display: block;
        }
    }
}
