///////////////////////////
// Header Cart
///////////////////////////

@media #{$medium-up} {

    .header-minicart {
        position: absolute;
        top: 0;
        right: 0;

        a.skip-cart {
            display: block;
            line-height: rem-calc(30);
            text-transform: uppercase;
            padding: rem-calc(5);
        }

        #header-cart {
            display: none;
            position: absolute;
            top: 40px;
            right: 0;
            background: #eee;
            width: rem-calc(400);
            z-index: 101;

            &.skip-active {
                display: block;
            }
        }
    }
}
