///////////////////////////
// Newsletter
///////////////////////////

.block-subscribe {

    .input-box {
        float: left;
        width: 60%;
    }

    .actions {
        float: right;
        width: 40%;

        button.button {
            @extend .postfix;
        }
    }
}
