///////////////////////////
// Notice Message
///////////////////////////

.global-site-notice.demo-notice {
    background: #333;
    color: #fff;
    padding: rem-calc(10 20);

    p {
        font-size: rem-calc(12);
        margin-bottom: 0;
    }
}
