/////////////////////////////
// Sidebar Block Viewed
/////////////////////////////

.block-viewed {

    ol#recently-viewed-items {
        list-style: none;
        margin: 0;

        li {
            @include clearfix;
            clear: left;
            margin-bottom: 1rem;
        }

        li > a {
            display: block;
            float: left;
        }
    }
}
