/////////////////////////////
// Toolbar
/////////////////////////////

// General toolbar styles
.toolbar {
    margin-bottom: 2rem;

    .toolbar-bottom & {
        margin-bottom: 0;
    }

    select {
        width: auto;
        margin-bottom: 0;
    }

    .sorter {
        border-bottom: 1px solid $gainsboro;
    }
}

// Sorter styles
.sorter {
    @include clearfix;
    padding: 0.5rem 0;

    p.view-mode {
        float: left;
        line-height: 2.2rem;
        margin-bottom: 0;
    }

    .sort-by {
        float: right;
    }
}

// Pager styles
.pager {
    @include clearfix;
    padding: 0.5rem 0;

    select {
        width: auto;
        margin-bottom: 0;
    }

    p.amount {
        float: left;
        line-height: 2.2rem;
        margin-bottom: 0;
    }

    .limiter {
        float: right;
    }
}

// Display all immediate children inline-block
.view-mode,
.sort-by,
.limiter {

    > * {
        display: inline-block;
    }
}
