/////////////////////////////
// Header Nav
/////////////////////////////

#header-nav {
    clear: both;
}

nav#nav {

    // Global styles
    ol, ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        position: relative;

        @media #{$small-only} {

            &.level0.parent {

                > a:after {
                    @include css-triangle($f-dropdown-triangle-size, $gainsboro, top);
                    float: right;
                    margin-top: 0.5rem;
                }

                &.menu-active > a:after {
                    @include css-triangle($f-dropdown-triangle-size, $gainsboro, bottom);
                    margin-top: 0;
                }
            }
        }

        // Open second level ul on click
        &.level0.menu-active > ul {
            display: block;
        }
    }

    a {
        display: block;
    }

    // Second level
    ul.level0 {
        display: none;
    }

    // nav#nav
    @media #{$large-up} {

        // Second level
        ul.level0 {
            @include single-transition($property: opacity, $speed: 100ms);
            display: block;
            opacity: 0;
            visibility: hidden;
        }

        a {
            padding: 0.25rem 1rem;
        }
        
        li.level0 {
            display: inline-block;

            &:hover ul.level0 {
                opacity: 1;
                visibility: visible;
            }
        }
    
        ul.level0 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 15rem;
            background: $white-smoke;
            border: 1px solid $gainsboro;
            z-index: 1;
        }

    } // END $medium-up
}
