/////////////////////////////
// Header Search
/////////////////////////////

#search_mini_form {

    input.input-text,
    button.button {
        margin-bottom: 0;
    }
}

@media #{$large-up} {

    #header-search {
        position: absolute;
        top: 3rem;
        right: 0;
        width: 20rem;
    }
} // END $large-up
