/////////////////////////////
// Header Skip Links
/////////////////////////////

.skip-links {
    @include clearfix;

    a.skip-link {
        float: left;
        width: 25%;
        border: 1px solid $gainsboro;
        border-width: 1px 1px 1px 0;
        text-align: center;
        padding: 0.5rem;

        &.skip-active {
            background: $white-smoke;
        }

        &.skip-cart {
            border-right: none;
        }
    }

    //.skip-links
    @media #{$large-up} {

        float: right;
        text-align: right;
        margin-top: 0.5rem;

        a.skip-link {
            float: none;
            width: auto;
            border: none;
            padding: 0;

            &.skip-active {
                background: none;
            }
        }

        a.skip-nav,
        a.skip-search {
            display: none;
        }

        a.skip-account,
        a.skip-cart {
            display: inline-block;
            margin-left: 1rem;
        }

    } // END $medium-up
}

.skip-content {
    display: none;
    padding: 1rem;

    &.skip-active {
        display: block;
    }

    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @media #{$large-up} {
    
        &#header-nav,
        &#header-search {
            padding: 0;
            display: block;
        }

    } // END $large-up
}
